[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/home/user/monitoring/VM2/nginx-prometheus-exporter

[Install]
WantedBy=default.target
