[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/home/user/monitoring/VM2/node_exporter-1.5.0.linux-amd64/node_exporter

[Install]
WantedBy=default.target
