[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/home/gnome/bmstu/monitoring/VM1/alertmanager/alertmanager --config.file=/home/gnome/bmstu/monitoring/VM1/alertmanager/alertmanager.yml

[Install]
WantedBy=default.target
