[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/alertmanager-@VERSION@.linux-amd64/ \
--config.file=/opt/alertmanager-@VERSION@.linux-amd64/alertmanager.yml \
--cluster.advertise-address=0.0.0.0:9093

[Install]
WantedBy=default.target
