[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/prometheus-@VERSION@.linux-amd64/prometheus \
--config.file=/opt/prometheus-@VERSION@.linux-amd64/prometheus.yml \
--storage.tsdb.retention.time=20d \
--storage.tsdb.retention.size=8GB

[Install]
WantedBy=default.target
